@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1750332940707') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\347c";
}

