@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1750132076120') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-language:before {
  content: "\e654";
}


.icon-guide:before {
  content: "\e501";
}

